@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #161616;
}
.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}
.suggested-recipe-container h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.suggested-recipe-container h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 12px;
}

.suggested-recipe-container ol li {
  list-style-type: decimal;
}
.suggested-recipe-container ul li {
  list-style-type: disc;
}
.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: 8px;
  font-weight: 400;
  margin-left: 24px;
}

.skeleton .line {
  height: 12px;
  background: #ddd;
  margin: 10px auto;
  border-radius: 6px;
  animation: shimmer 1.5s infinite;
  width: 80%;
}

.skeleton .short {
  width: 60%;
}

@keyframes shimmer {
  0% {
    background-color: #eee;
  }
  50% {
    background-color: #ddd;
  }
  100% {
    background-color: #eee;
  }
}
